body {
  margin: 0;
  font-family:sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image:linear-gradient(to right, rgb(76, 0, 255), rgb(56, 78, 82));
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
h1{
  text-transform: uppercase;
  box-shadow: 3px 3px 3px blue;
  
}
